body{
margin: 0;
padding: 0;
}

div.container{
height: 100vh;
width: 100%;
display: block;
margin: 0;
margin-top: -25px;
padding: 0;
background: url('b.jpg');
background-repeat: no-repeat;
background-size: cover;
}

/*  Nav Bar  */

nav{
height: 90px;
width: 100%;
display: block;
position: relative;
top: 0;
left: 0;
right: 0;
background: #000;
opacity: .5;
}
nav>h2{
width: fit-content;
text-align: left;
color: #fff;
font-size: 30px;
font-family: Calibri;
padding-left: 30px;
padding-right: 40px;
border-right: 2px solid #fff;
line-height: 90px;
}
nav>button.option{
display: none;
}
nav>ul{
height: 80px;
width: 600px;
display: block;
margin: -80px 0 0 20%;
list-style: none;
}
nav>ul li{
height: 100%;
width: 20%;
display: block;
float: left;
margin: 0;
padding: 0;
}
nav>ul li a{
height: 100%;
width: 100%;
display: block;
margin: 0;
padding: 0;
text-decoration: none;
color: #fff;
font-size: 18px;
font-family: Calibri;
}
nav>ul li a>span{
transform: rotate(90deg);
margin-left: 10px;
}
nav>ul li ul li{
height: 30px;
width: 70px;
display: none;
margin: 0 0 0 -30px;
padding: 0;
padding: 20px 45px;
text-align: center;
}
nav>ul li ul li a{
height: 100%;
width: 100%;
display: block;
margin: 0;
padding: 0;
font-size: 19px;
}
nav>ul li:hover ul li{
display: block;
background: #000;
}
nav>ul li:hover a{
color: green;
}
nav>ul li:hover{
cursor: pointer;
}
nav>ul li:hover ul li a{
color: #fff;
}
nav>ul li ul li:hover a{
color: green;
}

/*  Sign up Box  */

section{
height: 420px;
width: 400px;
display: block;
margin: 8% auto 0;
background: #000;
opacity: .8;
}
section>div.logo{
height: 120px;
width: 120px;
display: block;
background: #008000;
border-radius: 100px;
margin: 0 auto;
transform: translateY(-60px);
box-sizing: border-box;
padding: 30px;
}
section>div.logo>img{
height: 100%;
width: 100%;
display: block;
margin: 0;
padding: 0;
}
section>form{
height: 300px;
width: 350px;
display: block;
margin: -70px auto 0;
box-sizing: border-box;
padding: 20px;
}
section>form>p{
text-align: left;
color: #fff;
font-family: Calibri;
font-size: 18px;
}
section>form>input{
height: 25px;
width: 100%;
display: block;
margin: -18px 0 0 0;
background: transparent;
border: 0 solid transparent;
border-bottom: 1px solid #fff;
font-family: Calibri;
color: #fff;
outline: none;
font-size: 18px;
}
section>form>input[type="submit"]{
height: 35px;
margin-top: 20px;
background: #008000;
border-bottom: 0 solid transparent;
}